html {
  font-family: arial,sans-serif;
}
html, body {
  width: 510px;  /* set desired width */
  height: 500px; /* set desired height */

}
input.azad_action {
  color: white;
  background-color: royalblue;
  font-size: 120%;
  margin: 0px;
  border: 0px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

a#azad_help {
  color: white;
  background-color: orange;
  border-color: orange;
  border: 5px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

div#azad_actions, div#azad_year_list, div#azad_info, div.azad_separator {
  width: 300px;
  margin: 0px;
}

#azad_year_list {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div#azad_statistics {
  font-size: 80%;
}

button.azad_year_button {
  background-color: orange;
  color: white;
  width: 35px;
  text-align: center;
  margin: 1px;
  border: 0px;
  padding: 2px;
}

button.azad_months_button {
  background-color: orange;
  color: white;
  width: 35px;
  text-align: center;
  margin: 1px;
  border: 0px;
  padding: 2px;
}

button.azad_disabled {
  background-color: #FFDD99
}

td.azad_disabled {
  color: lightgray;
}

td.azad_disabled input {
  color: lightgray;
}

div.azad_separator {
  height: 10px;
  background-color: white;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div#azad_info {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div#azad_state {
  font-weight: bold;
  font-size: 120%;
  color: orange;
  width: 110px;
  margin: 0px;
  border: 5px;
  border-style: solid;
  border-color: orange;
  padding: 4px;
  text-align: center;
}

div#azad_statistics {
  color: orange;
  width: 180px;
  margin: 0px;
  border: 0px;
  padding: 5px;
}

div#azad_settings input {
  margin: 5px;
}

.hidden {
  display: none;
}

div#footer {
  text-align: right;
}

div#footer table tbody tr td {
  width: 150px;
}

.azad_thanks {
  font-size: 200%;
  font-weight: bold;
  color: orange;
  text-decoration: none;
}

a {
  color: royalblue;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#azad_table_type_setting {
  border: 1px solid orange;
}

.azad_control_page{
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: start;
 overflow: hidden;
  z-index:2;
  
}

#pgMover {

   /* Adds space inside the element, to the right */
  padding-right:5px; /* Adds space inside the element, to the left */
  padding-top: 10px;   /* Adds space inside the element, above */
  padding-bottom: 10px;
  width: 2020px;
  display: flex;
  flex-direction: row;
  transition: .5s ease-in-out;
  
  
}
#HomePage {
  position: relative;
  /*left: 4px;*/
  margin-left: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  
}
#PurchasesPage {
  position: relative;
  /*right: -500px;*/
  margin-left: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  

}

#ReturnsPage {
  position: relative;
  /*right: -1000px;*/
  margin-left: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  
}


#DonatePage {
  position: relative;
  /*right: -1500px;*/
  margin-left: 5px;
  width: 500px;
  display: flex;
  flex-direction: column;
  
}

#footer {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
}